@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
.spacer {
  width: 100%;
  height: 5%; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Bitter", serif;
  background: url("../imgs/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  html nav, body nav {
    width: 100%;
    height: 12.25%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed; }
    html nav .navItems, body nav .navItems {
      display: inline-block;
      font-size: 3vh;
      color: #fff;
      text-decoration: none;
      margin-left: 5%;
      margin-top: 4.5vh; }
  html #content-container-foundation, body #content-container-foundation {
    width: 100%;
    height: 87.75%;
    position: fixed;
    top: 12.25%;
    overflow-y: hidden;
    text-align: center; }
    html #content-container-foundation ul, body #content-container-foundation ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      position: absolute;
      overflow-y: auto; }
      html #content-container-foundation ul li, body #content-container-foundation ul li {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        background-color: rgba(25, 25, 25, 0.1);
        color: white; }
        html #content-container-foundation ul li h1, body #content-container-foundation ul li h1 {
          margin: 0;
          padding: 0; }
        html #content-container-foundation ul li p, body #content-container-foundation ul li p {
          margin: 0;
          padding: 0; }
        html #content-container-foundation ul li #title-bar, body #content-container-foundation ul li #title-bar {
          width: 100%;
          height: 41%;
          margin-top: 12vh;
          background-color: rgba(155, 102, 11, 0.8);
          padding-top: 9%; }
          html #content-container-foundation ul li #title-bar h1, body #content-container-foundation ul li #title-bar h1 {
            margin-bottom: 2vh; }
        html #content-container-foundation ul li #info-container, body #content-container-foundation ul li #info-container {
          width: 95%;
          height: 100%;
          background-color: rgba(2, 2, 2, 0.6);
          padding: 0 2.5%; }
          html #content-container-foundation ul li #info-container article, body #content-container-foundation ul li #info-container article {
            margin: 0;
            width: 65%;
            height: 80%;
            background-color: red;
            float: left;
            margin-top: 7.5vh;
            overflow-y: auto; }
            html #content-container-foundation ul li #info-container article h1, html #content-container-foundation ul li #info-container article p, body #content-container-foundation ul li #info-container article h1, body #content-container-foundation ul li #info-container article p {
              margin: 0;
              padding: 0; }
            html #content-container-foundation ul li #info-container article h1, html #content-container-foundation ul li #info-container article p, body #content-container-foundation ul li #info-container article h1, body #content-container-foundation ul li #info-container article p {
              margin: 0 auto;
              margin-bottom: 3vh;
              width: 80%; }
          html #content-container-foundation ul li #info-container aside, body #content-container-foundation ul li #info-container aside {
            margin: 0;
            width: 25%;
            height: 80%;
            background-color: blue;
            float: right;
            margin-top: 7.5vh; }

/*# sourceMappingURL=style.css.map */
